/*
color scheme
terra cotta: #DF726B
flax: #E6CE80
umber: #64523F
weldon blue: #7F9CAC
silver: #C1C7BA
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Satisfy', cursive;
*/

div.headline {
  padding: 0px;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #000;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-nav>li>a {
  padding: 20px 15px;
  color: #FFF;
  font: 20px 'Open Sans Condensed', sans-serif;
}
.navbar-brand {
  color: #FFF;
  font-family: 'Satisfy', cursive;
  height: 70px;
  padding: 25px 15px;
  font-size: 28px;
}
.carousel {
  margin-top: 70px;
}
.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 25%;
  z-index: 20;
  color: #000;
  text-shadow: 0 1px 2px; rgba(0,0,0,.6);
}
h3 {
  font: 24px 'Satisfy', cursive;
  color: #FFF;
}
h4 {
  font: 20px 'Open Sans Condensed', sans-serif;
  color: #FFF;
}
